@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(25deg, #7c1e7c, #9599f6);
}

.container {
    height: 40vh;
    width: 25vw;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #ddd4d4;
}

.result {
    height: 25px;
}

.km {
    font-size: 20px;
    border: none;
    height: 45px;
    border-radius: 8px;
}

.calc {
    margin-top: 20px;
    border: none;
    background: #fff;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

.next {
    text-decoration: none;
    color: #9599f6;
    position: absolute;
    top: 50px;
    left: 25px;
}